body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* TOPO */
.topo {
  background: #7fb1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: white;
}

.topo h1 {
  font-size: 40px;
}

.redes img {
  width: 30px;
  margin-left: 10px;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 40px;
}

.texto span {
  background: #2da8d8;
  color: white;
  padding: 5px;
}

.texto h2 {
  font-size: 40px;
}

.sub {
  letter-spacing: 5px;
}

.desc {
  margin-top: 20px;
  font-size: 14px;
}

.imagem img {
  width: 300px;
}

/* ALUNOS */
.alunos {
  background: #e6dccf;
  text-align: center;
  padding: 30px;
}

.alunos h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.grid img {
  width: 100%;
  border-radius: 5px;
}

/* RODAPÉ */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}